
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400&family=Oswald&display=swap');
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Barlow', sans-serif; */
*{
    margin:0;
    padding: 0;
    box-sizing: content-box;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    color:rgb(63, 59, 0);
}

body{
    background-color: rgb(192, 247, 115);
    font-size:100px;
}

nav{
    width:100vw;
    height:70px;

    position:fixed;
    display:flex;
    justify-content: left;

    background-color: rgb(144, 196, 65);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

nav>div{
    padding:0 20px;
    margin-top: 0px;
    font-size: 34px;
}
nav>div:nth-child(1){
    margin-left:60px;
}
.main_container{
    display:flex;
}
.second_container{
    width:1200px;
    height:3000px;
    margin: 100px auto 30px;
    background-color: rgb(255, 246, 235);
    border-radius: 10px;

    font-family: 'Barlow', sans-serif;
    font-weight: 400;

    padding:20px 50px;
}

.alert{
    color: #da4747;
    font-size: 44px;
}

.user-name{
    color: white;
    font-size: 44px;
    padding-right:100px;
}
.application-header{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.application-header > div:first-child{
    margin-left: 50px;
}
.application-body{
    display: flex;
    justify-content: space-evenly;
}
.data-generating{
    color: #00BFFF;
}
.submit_p{
    position:relative;
    top: -32px;
}
.flex-box-container-mainpage{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.flex-box-child-mainpage{
    background-color: white;
    border-radius: 15px;
    padding:15px;
    margin:30px;
}