{% extends 'base.html' %}



{% block content %}
    <h1>Несколько наших последних выполненных заказов</h1>
    <h3>Сейчас у нас заявок в работе: {{ accepted_appl }} </h3>
    <br>
    <div class="flex-box-container-mainpage">
        {% for i in last4 %}
            <div class="flex-box-child-mainpage">
                <p>Дата создания заявки: {{ i.date_creation }}</p>
                <p>Название заявки: {{ i.name }}</p>
                <p>Стиль: {{ i.category }}</p>
                <div>Проект помещения: <img src="{{ i.photo.url }}" alt='Проект помещения'></div>
                <div>Реализация: <img src="{{ i.suggestions.image.url }}" alt='Реализация проекта'></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}