{% extends 'base.html' %}

{% block content %}
   <h1>Здравствуйте {{ user.username }}.</h1>
   <p></p>
   <p></p>

{% if applications %}
    {% for i in applications %}
        <ul>
        <li>{{ i.name }}</li>
        <li>{{ i.description }}</li>
        <li>{{ i.category }}</li>
        <li>{{ i.photo }}</li>
        <li>{{ i.status }}</li>
        <li>{{ i.date_creation }}</li>
        </ul>
        <h3><a href="{% url 'deleteApplication' i.pk %}" >Удалить заявку</a></h3>
        <hr>
    {% endfor %}
    {% else %}
    Пусто
    {% endif %}
{% endblock %}