{% extends 'base.html' %}

{% block content %}
    <h1>Аутентификация</h1>
    {% if form.errors %}
        <p class ="alert">Не правильный логин или пароль- {{ form.errors }}.</p>
    {% endif %}
    {% if user.is_authenticated %}
         <p>Вы уже авторизированы. <a href="{% url 'logout' %}">Выйти</a></p>
    {% else %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Войти">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    {% endif %}
{% endblock %}